.main {
  height: 100vh;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.board-title-btn, .board-title-input {
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 3px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 550;
  margin: 7px;
  margin-bottom: 0;
  padding: 7px;
}
.board-title-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.board-title-input {
  width: 250px;
  background-color: white;
  color: #333;
}
.board-header {
  display: flex;
  width: auto;
}
.board-settings {
  display: flex;
}

.settings {
  position: fixed;
  margin-top: 10px;
  border-radius: 5px;
  padding: 20px; 
  height:50vh;
  width: 275px;
  background-color: white;
}

.settings-toggle, .exit-settings {
  background-color: transparent;
  color:  white;
  outline: none;
  border: none;
  font-size: 17px;
  float: right;
}

.settings-toggle:hover {
  color: rgb(223, 223, 223);
}

.exit-settings {
  color: #333;
}

.settings-container-tag {
  margin: 0;
}

.settings-container-input {
  margin-top: 10px;
  width: 200px;
  height: 30px;
  padding-left: 7px;
  border-radius: 3px;
  border: none;
  background-color: rgb(245, 245, 245);
}

.settings-container-add {
  background-color: #333;
  width: 32px;
  height: 32px;
  font-size: 12px;
  margin-left: 7px;
  border-radius: 3px;
  border: none;
  outline: none;
  color: white;
}

.settings-container-btn {
  padding: 7px;
  background-color: #333;
  outline:none;
  border:none;
  border-radius: 3px;
  color: white;
  height: 35px;
  font-size: 14px;
  font-weight: 600;
}

.list-container {
  display: flex;
}
.created-list {
  align-self: flex-start;
  width: auto;
}
.new-list-btn, .create-list-input {
  width: 265px;
  font-size: 13px;
  border: none;
  border-radius: 3px;
  outline: none;
  padding: 11px;
  margin: 7px;
  text-align: left;
  color: white;
}
.new-list-btn {
  height: 45px;
  background-color: rgba(0, 0, 0, 0.1);
}
.new-list-btn:hover {
  background-color:  rgba(0, 0, 0, 0.2);
}
.create-list-container {
  width: 266px;
  height: 95px;
  margin: 7px;
  border: none; 
  border-radius: 5px;
  background-color: #333;
}
.create-list-input {
  margin: 7px;
  padding-left: 5px;
  width: 235px;
  background-color: white;
  color: #333;
}
.add-list-btn {
  margin: 7px;
  margin-top: 2px;
  width: 75px;
  height: 30px;
  border:none;
  border-radius: 3px;
  background-color: #73a9d6;
  font-size: 14px;
  font-weight: 500;
  color: white; 
}
.add-list-btn:hover {
  background-color: #5d96c6;
}
.exit-create-list {
  background-color: #333;
  color: white;
  border: none;
  outline: none;
  font-size: 15px;
  font-weight: 100;
}
.exit-create-list:hover {
  color: grey;
}

.list {
  display: flex;
}
.created-list {
  background-color: #333;
  width: 265px;
  margin: 7px;
  margin-right: 0;
  border-radius: 5px;
}
.list-header {
  display: flex;
  justify-content: space-between
}
.created-list-title {
  margin: 5px;
  padding: 10px;
  padding-top: 15px;
  color: white;
  font-weight: 600;
}
.remove-list {
  outline:none;
  border:none;
  background-color: #333;
  color: white;
  font-size: 20px;
  font-weight: 200;
  margin-right: 10px;
}
.remove-list:hover {
  color: rgba(255, 255, 255, 0.2)
}
.add-card-toggle {
  width: 265px;
  height: 40px;
  border: none;
  border-radius: 0 0 5px 5px;
  outline:none;
  color: white;
  text-align: left;
  padding-left: 15px;
  font-size: 13px;
  background-color: #333;
}
.add-card-toggle:hover {
  background-color: #232323;
  text-decoration-line: underline;
}
.cards {
  width: 265px;
}

.card-input {
  resize: none;
  margin: 7px;
  margin-top: 0;
  border-radius: 3px;
  border: none;
  outline: none;
  padding: 7px;
  width: 236px;
  height: 50px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif
}
.card-btn {
  color: white;
  height: 30px;
  font-size: 13px;
  font-weight: 600;
  padding: 5px 12px 5px 12px;
  border: none;
  border-radius: 3px;
  margin: 7px;
  margin-top: 0;
  margin-bottom: 10px;
}
.card-btn:hover {
  background-color: #5d96c6;
}
.exit-card-toggle {
  background-color: #333;
  outline: none;
  border: none;
  color: white;
  font-size: 15px;
}
.exit-card-toggle:hover {
  color: #232323;
}
.card {
  margin: 7px;
  margin-bottom: 10px;
  border: none; 
  border-radius: 3px;
  width: 240px;
  height: 25px;
  padding: 7px;
  padding-right: 3px;
  background-color: white;
  color: #333;
  font-size: 14px;
  display: flex;
  justify-content: space-between
}
.card-title {
  margin: 0;
  margin: 5px;
  margin-left: 3px;
}
.delete-card-btn {
  background-color: white;
  color: #333;
  border: none;
  outline: none;
  font-size: 15px;
}
.delete-card-btn:hover {
  color: #73a9d6;
}
.color-list {
  min-height: 40px;
  max-width: 275px;
}

.color-icon-container {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 15px;
  margin-top: 15px;
}
/* .remove-color-icon {
  position: absolute;
  width: 10px;
  height: 14px;
  left: 14px;
  background-color: #e5e5e5;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}
.remove-color-icon:hover {
  background-color: #cccccc;
} */
.color-icon {
  outline: none;
  border:none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: inline-block;
}
.color-icon:hover {
  cursor: pointer;
}
.color-icon:active{
  width:33px;
  height:33px;
}
.color-icon-settings-container{
  position: absolute;
}
.color-name {
  margin: 0;
  padding: 0;
  margin-top: 7px;
  margin-left: 7px;
  color: white;
}
.color-icon-settings {
  display: flex;
  flex-direction: column;
  min-height: 98px;
  min-width: 150px;
  background-color: #333;
  border-radius: 5px;
  border: none;
}
.set-background-btn, .delete-color{
  margin: 7px;
  margin-bottom: 0;
  padding: 5px;
  background-color: white;
  border: none; 
  font-size: 12px;
  font-weight: 700;
}

@media (max-width: 700px) {
  .list-container{
    flex-direction: column;
  }
  .list {
    flex-direction: column;
  }
  .settings {
    width: auto;
    margin-right: 10px;
    position: absolute;
    padding-bottom: 0;
  }
  .settings-container-input {
    width: 175px;
  }
  .color-icon{
    height: 32px; 
    width: 32px;
  }
}